{% extends 'index.html' %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div style="margin-top:30px;">
            <form action="" method="post">
                {% csrf_token %} <!-- using this we can use csrf_token in django -->
                {{ form.as_p }}
                <button type="submit" style="margin-top:10px;"> register </button>
                <br>
                <p>Already have an account then please <a href="/login">login</a> </p>
            </form>
        </div>
    {% else %}
        <p> You're already logged in you can not register user. Would you like to <a href="/logout/">logout</a></p>
    {% endif %}


{% endblock content %}