{% extends "index.html" %}
<!-- curlly breckets works in link also all most at everywhere in HTML it works-->

{% block content %}
    <h1 style="text-align:center"> Hello {{name}}! </h1>

    <!-- inputs -->
    <form action="user/" method="GET"> <!-- url is passed in 'action' and when we submit request that handle by that url -->
        <input type="text" name="query" placeholder="ID or Title"/> <!-- every input need name, except submit which create "key : value" pass data based on method of form -->
        <input type="submit"/>
    </form>


    <br>
    <!-- Use of URL Reverse in Template : we can not use "firstapp:show-slug" & "firstapp:show" Here because this URL need data also to insert  -->
    <!-- We should use only Urls like "firstapp:show-slug" & "firstapp:show" when we want to redirect to Fix page Like below -->
    <!--    <h3>GO to <a href="{% url 'firstapp:show-slug' slug='hello-world' %}">Hello World</a> page</h3>-->
    <h3>Click Here to :- <a href="{% url 'firstapp:create' %}">Create User Data</a></h3>
    <!-- Displaying Output  -->
    {% for row in model_data %}
        {% if row.title and row.content %} <!-- How to check multi conditions with operators ???? -->
            <h2><a href="/user/{{row.id}}/">Title : {{row.title}}</a></h2>
            <p> <a href="/user/{{row.slug}}/">Slug : {{row.slug}}</a></p>
            <p> <a href="{{row.get_absolute_url}}">Content : {{row.content}}</a></p>
        {% endif %}
    {% endfor %}

{% endblock content%}