{% extends 'index.html' %}

{% block content %}
    {% if show %}
        <!-- inputs -->
        <form action="/user/" method="GET"> <!-- url is passed in 'action' and when we submit request that handle by that url -->
            <input type="text" name="query" placeholder="ID or Title"/> <!-- every input need [name] except submit which create "key : value" pair and pass data based on 'method' of form -->
            <input type="submit"/>
        </form>
    {% endif %}
    <ol>
    {% if data_list  %}
        {% for model_row in data_list %}
            <li>
                <!--  Displaying all data in details -->
                <h2>Title : {{model_row.title}}</h2>
                <p> Content : {{model_row.content}}</p>
            </li>
        {% endfor %}
    {% else %}
        <p> For given search data is not exist </p>
    {% endif %}
    </ol>

{% endblock content %}